*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
/trakt-api/build
/buildSrc/build
/buildSrc/.gradle
/captures
.externalNativeBuild
.cxx
local.properties
xcuserdata/
project.xcworkspace/
UserInterfaceState.xcuserstate
Config.xcconfig
